.tabOn, .tabOff, .tabHover
{
	width:100px;
	height:30px;
	position:absolute;
	border:1px solid;
	border-bottom:none;
	cursor:pointer;
	text-align:center;
}

.tabOnDiag, .tabOffDiag, .tabHoverDiag
{
	width:100px;
	height:30px;
	position:absolute;
	border:1px solid;
	border-bottom:none;
	cursor:pointer;
	text-align:center;
}


.tabOn { z-index:2; background-color:#FFFFFF; }

.tabOff { z-index:0; background-color:#EAEAEA; }

.tabHover { background-color:#CCCCCC; }

.tabOnDiag { z-index:2; background-color:#FFFFFF; }

.tabOffDiag { z-index:0; background-color:#EAEAEA; }

.tabHoverDiag { background-color:#CCCCCC; }


#prescripcion { left:100px; }

#examenes { left:200px; }

#historial { left:300px;}

#foto { left:400px;}


#tabContenido
{
	padding:10px;
	position:absolute;
	top:30px; left:0px;
	border:1px solid;
	border-bottom-color: #FFFFFF;
	border-left-color:#FFFFFF;
	border-right-color:#FFFFFF;
	width:490px;  /*Para el ancho del tab*/
	height:400px; /*Para el alto del tab*/
	z-index:1;
}

#demo {
overflow:auto; 
/*Margenes del conjunto de tabs.*/
height:500px;
width:600px;
position:relative; }

#tabContenidoDiag
{
	padding:10px;
	position:absolute;
	top:30px; left:0px;
	border:1px solid;
	border-bottom-color:#FFFFFF;
	border-left-color:#FFFFFF;
	border-right-color:#FFFFFF;
	width:490px;  /*Para el ancho del tab*/
	height:400px; /*Para el alto del tab*/
	z-index:1;
}

#demoDiag { overflow:auto; 
/*Margenes del conjunto de tabs.*/
height:650px;
width:500px;
position:relative; }


/******* PARA LOS INGRESOS DE DATOS ******/
#formContenedor 
{
	text-align:center;
	position:absolute;
	width:696px;
	left:235px;
	margin-left:-220px;
	top: 18px;
}


input 
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	border:1px solid;
}

textarea
{
	width:220px;
	height:100px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	border:1px solid;
}

table { border:inherit; }

button { width:100px; height:22px; font-family:Verdana; font-size:11px; }

.label { width:110px; text-align:left; }

.campo { width:240px; text-align:left}

.ayuda { width:50px; text-align:center; }

.inputNormal { border:1px solid; text-align:left }

.inputError
{
	border:1px solid #FF0000;
	background-color:#FFF4F0; /*FFF4F0*/
	color:#FF0000;
}

/* Capas de transparencia y mensajes de confirmacion */

#transparencia
{
	background-color:#FFFFFF; 
	z-index:1;
	position: absolute;
	width: 800px;
	height: 600px;
	display:none;
	opacity:0.95; filter:alpha(opacity="95");
	top:15%;
	left:15%;
}

#transparenciaMensaje
{
	position: absolute;
	width:400px;
	height:300px;
	margin-top:-50px;
	margin-left:-120px;
	top:20%;
	left:30%;
	text-align:center;
}

/* Mensajes de ayuda */

#mensajesAyuda
{
	width:200px;
	font-family:Verdana;
	font-size:10px;
	border:1px solid #000000;
	position:absolute;
	top:0px;
	left:0px;
	display:none;
	text-align:center;
	elevation:above;
}

#ayudaTitulo
{
	background-color:#000000; 
	color:#FFFFFF; 
	padding:1px;
}

#ayudaTexto
{
	vertical-align:middle;
	padding:2px;
	background-color:#FFFFFF;
}

/* Lista de espera pacientes */
#listaEspera ul {
margin:10px 0 10px 5px;
padding:0 0 0 0;
background:transparent;
}

#listaEspera li {
list-style-type: none;
background:#fae3e8;
color: #daa520 ;
border: 1px solid #7DB26E;
text-align:left;
padding:0 0 0 0;
margin-bottom:6px;
}

#listaEspera li a {
color: #ffffff;
font-weight:bold;
text-decoration: none;
display: block;
padding:2px 0 2px 5px;
}

#listaEspera li.vina {
list-style-type: none;
background:#FF9900;
color: #B7D7AF;
border: 1px solid #7DB26E;
text-align:left;
padding:0 0 0 0;
margin-bottom:6px;
}

#listaEspera li.vina a {
color: #ffffff;
font-weight:bold;
text-decoration: none;
display: block;
padding:2px 0 2px 5px;
}

#listaEspera li a:hover {
background:#ffffff;
color: #7F9BC5;
}

/* Para autocompletar medicamentos */
div.contenedorAutocompletar {
	position: absolute;
	left: 15px;
	top: 550px;
}

div.fill {
	font-family: Arial;
	font-size: 8pt;
	display: none;
	width: 160px;
	position:absolute;
	color: #E0EBEB;
	background-color: #E0EBEB;
	border: 1px solid #008585;
	overflow: auto;
	height: 150px;
	top: -1px;
}

tr.fill {
	font-family: Arial;
	font-size: 8pt;
	color: #E0EBEB;
	background-color: #008585;
	border: 1px solid #008585;
}

tr.noFill {
	font-family: Arial;
	font-size: 8pt;
	background-color: #E0EBEB;
	color: #008585;
	border: 1px solid #E0EBEB;
}